---
import { Image } from "astro:assets";

import Link from "@components/ui/link.astro";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-2 md:pb-2">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      #1 Online Tuition in Singapore*
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      We help students improve their grades with our online tuition classes, so
      you can focus on parenting, anytime, anywhere.
    </p>
    <div class="hidden lg:block mt-6 space-x-4">
      <Link
        href="https://forms.clickup.com/9018916230/f/8ct3fc6-118/V58K37GFL4XWF5QHEJ"
        class="btn bg-primary rounded-full">Book a Free Trial</Link
      >
      <Link
        href="#"
        class="btn bg-secondary text-primary hover:bg-secondary/80 border-2 border-primary rounded-full"
        >How Are We Different</Link
      >
    </div>
  </div>
  <div class="py-6 md:order-1">
    <Image
      src="/hero.png"
      alt="A classroom setting with students"
      width={500}
      height={500}
    />
  </div>
</main>
