---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { getAllPosts } from "../prismic.js";

export async function getStaticPaths() {
  const posts = await getAllPosts().then((res) => res.results);
  return posts.map((post) => {
    return { params: { slug: post.uid }, props: { post } };
  });
}
const { post } = Astro.props;

let title = post.data.title[0].text;
---

<Layout title={title}>
  <Container>
    <div class="py-10">
      <article class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">{title}</h1>
        <div class="prose prose-lg max-w-none">
          {
            post.data.body && (
              <div class="mt-8">
                {post.data.body[0]?.text || "No content available"}
              </div>
            )
          }
        </div>
      </article>
    </div>
  </Container>
</Layout>
